<div class='row'>
    <div class='login-wrapper'>
        <p-card class="login-card" header="Login" subheader="Use your COGS credentials to login">
            <img src='/assets/logo.png' class='login-logo' />
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Username" [(ngModel)]="user.name">
            </div>
            <br />
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input type="password" pInputText placeholder="Password" [(ngModel)]="user.password">
            </div>
            <p-footer>
                <button pButton type="button" (click)="onLoginButtonClicked()" label="Login" icon="pi pi-check" style="margin-right: .25em"></button>

            </p-footer>

        </p-card>
    </div>
</div>